table.time_logging_app {
  width: auto;
}
table.list th, table.list td {
  text-align: left;
}
tr.less_hours {
  font-style: italic;
  color: #666;
}
tr {
	font-weight: normal;
}
table.list td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
table.list td.project {
	max-width: 30rem;
}
h2 {
	display: inline-block;
  margin-bottom: 6px;
}
h2 + span {
  float: right;
  font-size: 0.8em;
}
