*{box-sizing:border-box}
html{font-size:14px}
body{background-color:#767676;min-width:200px;font-size:1em}
#wrapper{margin:auto;max-width:810px}
#form{padding:2px;background-color:#222;border-radius:3px;box-shadow:0 0 5px #888}
h2{color:#efefef;font-size:1.4em;text-align:center;margin-bottom:-17px;height:14px}
#timeEntries td:last-child,#timeEntries th:last-child{text-align:right;width:106px}
th{text-align:left}
button{cursor:pointer}
#date{vertical-align:top;border:0}
#entriestoday{background-color:#fff;display:none;margin-top:20px;text-align:left;width:100%}
#hours,#minutes{width:80px}
#time{display:flex}
#loading{color:#fff;display:none;font-weight:700;text-align:center}
#loading .icon{background-color:url(../../images/app/loading.gif);display:inline-block;height:16px;margin-bottom:-4px;width:16px}
.dateControls>*{color:#fff;width:46px}
.dateControls{margin-left:4px}
#form>:first-child~*{margin-top:2px}
#wrapper>:first-child~*{margin-top:4px}
.statusbar{background-color:#226fa1;border-radius:3px;bottom:0;padding:4px;position:relative;right:0}
button,input,select,textarea{background-color:#fff;color:#222;font-size:1em;border:1px solid #626262}
input,select,textarea{padding:4px}
body,input,select,textarea{border-radius:3px;font-family:arial,helvetica,sans-serif}
button,input,select,textarea{height:46px}
#comments{height:66px}
input:focus,select:focus,textarea:focus{opacity:1;background-color:#efefef}
input:hover,select:hover,textarea:hover{opacity:.96}
select{cursor:pointer}
textarea{resize:none;width:100%;margin-bottom:0}
.error,.error:focus{border:2px solid #df182c}
.editMode.topControls{width:100%}
.editMode.topControls>*{text-align:center;width:49.7%}
button.submit:not(.update){margin-left:0;width:100%}
button.cancel{width:49.7%}
.hbox{display:flex;gap:2px}
.hbox>*{display:inline-block}
.topControls > *{display:inline-block}
.right{float:right}
table thead{color:#222}
table.list{background-color:#fff;border:1px solid #e1e1e1;border-collapse:collapse;margin-bottom:4px;width:100%}
table.list th{background-color:#efefef;padding:4px;white-space:nowrap}
table.list td{vertical-align:top}
a,a:link,a:visited{color:#226fa1;text-decoration:none}
table td{padding:8px 4px}
.odd{background-color:#f5f5f5}
.even{background-color:#fff}
a:active,a:hover{color:#df182c;text-decoration:underline}
#activity{flex-grow:1}
#notification_area .notification{background-color:#226fa1;border-radius:3px;color:#fff;padding:4px}
.editMode.topControls>:last-child{float:right}
#form,#timeEntries,#wrapper.editMode h2,.ui-datepicker-week-end,button.cancel,button.delete,button.duplicate{display:none}
[disabled]{cursor:crosshair;opacity:.9;color:#9f9f9f}
#timeEntries .comments{color:#767676;margin-top:0;padding-left:4px;font-size:0.9em;max-width:525px;overflow:hidden;text-overflow:ellipsis}
button.submit{border-color:#9f9f9f;font-size:1.1em;width:100%}
button.submit:hover{border-color:#9f9f9f}
.dateControls+a{background-color:#fff;padding:4px;float:right;margin-top:4px}
#timeEntries .active{opacity:.5}
a.overview{background-color:#fff;padding:0}
.timeEntry button,.topControls button{width:46px}
.topControls button + button,.timeEntry button + button{margin-left:4px}
#timeEntries .timeEntry.unavailable-project button{visibility:hidden}
#timeEntries .timeEntry.unavailable-project .title{font-style:italic}
#comments:focus::placeholder,#hours:focus::placeholder,#minutes:focus::placeholder,#search:focus::placeholder,select:focus::placeholder{color:#fff}
#timeEntries .overbooked .estimates{font-weight:700}
input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
@media screen and (max-width:740px){
#activity{width:100%;margin-left:0}
}
@media screen{
#wrapper{min-width:200px}
}
@media screen and (max-width:530px){
h2{display:none!important}
}
@media screen and (max-width:342px){
.topControls>*{float:none;display:inline-block}
}
button .ui-button-icon{margin-top:1px}
